#htb:hover {
  background: #759AFF;
}

#htb {
  color:#222;
  background:#759AFF;
}

.navbar-toggler {
  border: none;
}

/* btn style for cryptocurrency div */
.btn-copy.btn {
  background: #57cbcc;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 35px;
  text-transform: uppercase;
  vertical-align: unset;
}

.btn-copy:hover {
  background: #2c9091;
  color: #fff;
}

.b-style {
  background: none;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 35px;
  border: 1px solid #57cbcc;
}

/* Animated Logo */
.svg_logo {
  z-index: 3;
}

#circle {
  stroke-dasharray: 2000;
  fill: #ffffff;
  stroke: #ffffff;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 10;
  fill-rule: nonzero;
  -webkit-animation: circle 5s alternate;
          animation: circle 5s alternate;
}

@-webkit-keyframes circle {
  0% {
    stroke-dashoffset: 2000;
    fill-opacity: 0;
    stroke-width: 1pt;
  }

  20% {
    fill-opacity: 0;
  }

  40% {
    fill-opacity: 0;
  }

  60% {
    fill-opacity: 0.5;
  }

  80% {
    fill-opacity: 0;
  }

  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-width: 0pt;
  }
}

@keyframes circle {
  0% {
    stroke-dashoffset: 2000;
    fill-opacity: 0;
    stroke-width: 1pt;
  }

  20% {
    fill-opacity: 0;
  }

  40% {
    fill-opacity: 0;
  }

  60% {
    fill-opacity: 0.5;
  }

  80% {
    fill-opacity: 0;
  }

  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-width: 0pt;
  }
}

#bird {
  stroke-dasharray: 1200;
  fill: #1a1a1a;
  stroke: #1a1a1a;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 10;
  fill-rule: nonzero;
  -webkit-animation: bird 7s alternate;
          animation: bird 7s alternate;
}
svg {
       margin: 1px;
       padding: 1px;
    }
@-webkit-keyframes bird {
  0% {
    stroke-dashoffset: 2500;
    fill-opacity: 0;
    stroke-width: 1pt;
  }

  20% {
    fill-opacity: 0;
  }

  40% {
    fill-opacity: 0;
  }

  60% {
    fill-opacity: 0.5;
  }

  80% {
    fill-opacity: 0;
  }

  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-width: 0.5pt;
  }
}

@keyframes bird {
  0% {
    stroke-dashoffset: 1500;
    fill-opacity: 0;
    stroke-width: 2pt;
  }

  20% {
    fill-opacity: 0;
  }

  40% {
    fill-opacity: 0;
  }

  60% {
    fill-opacity: 0;
  }

  80% {
    fill-opacity: 1;
  }

  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-width: 0pt;
  }
}

.profile_pic {
  text-align: right;
}

.email {
  color: #57cbcc; 
  background-color: #0c0c0c; 
  width: 50%;
}

/* Media Queries */
@media only screen 
  and (max-width: 991px) {

  h1.style {
      font-size: 2rem;
  }

  .b-style {
      width: 60%; 
      overflow-y: auto;
      overflow-x: scroll;
      position: relative;
      display: inline-flex;
      vertical-align: middle;
  }

  .btn-copy.btn {
      width: 40%;
      padding-left: 1px;
      padding-right: 1px;
  }
}

@media only screen 
  and (max-width: 991px) {
    #navigation {
      margin-top: 0.5rem !important;
    }
  }

@media only screen 
and (max-width: 800px) {
  .navbar-brand {
    margin: 0;
  }

  .svg_logo {
    width: 10% !important;
    height: 10% !important;
  }

}

@media only screen 
and (max-width: 415px) { 
  .profile_pic {
    text-align: center !important;
  }

  .email {
    width: 75% !important;
  }
}

@media only screen 
and (max-width: 478px) { 
    .htb_img {
      width: 80%;
      height: 80%;
      display: inline-block;
    }
}

@media only screen 
and (min-width: 416px)
and (max-width: 991px) { 
  .profile_pic {
    text-align: center !important;
  }

  .email {
    width: 60% !important;
  }
}

.white-text {
  color:#fff !important;
}
.dark-grey-text {
  color: #222 !important;
}


