body {
    color: whitesmoke;
    background-color: black;
    text-align: center;
}
.deck {
    /* border-style: solid; */
    /* border-color: blue; */
    /* max-width: 60%; */
    display: flex;
    flex-wrap: wrap;
}
.card {
    border-color: whitesmoke;
    border-style: solid;
    max-width: 20%;
    padding: 1em;
}
body > section > p {
    /* max-width: 60%; */
}
body > section {
    margin-left: 5%;
    /* border-style: solid; */
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}
#main-logo {
    max-width: 50%;
}
@media (max-width: 800px) {
    .deck {
        min-width: 100%;
        max-width: 100%;
    }
    .card {
        max-width: 100%;
        min-width: 100%;
    }
}

.invert {
    filter: invert(100%)
}